.row {
  border-style: solid;
}

.snow {
   background-color: #333;
 }

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'),
   url('http://www.wearewebstars.dk/codepen/img//s2.png'),
   url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.fallingLeaves{
	top: 50%;
	background:#fff;
	width:100%;
	height:40%;
	position:absolute;
	left:0%;
	background: none;
  z-index: 1;

}

.fallingLeaves {
    text-align: center;
}

.fallingLeaves span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: -280px 40px 54px  -34px;
  background:url("leaf.png");
  -webkit-animation: fallingLeaves 10s infinite  linear;
  -moz-animation: fallingLeaves 10s infinite  linear;
}

.fallingLeaves span:nth-child(5n+5) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}

.fallingLeaves span:nth-child(3n+2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

.fallingLeaves span:nth-child(2n+5) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

.fallingLeaves span:nth-child(3n+10) {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
}

.fallingLeaves span:nth-child(7n+2) {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
}

.fallingLeaves span:nth-child(4n+5) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
}

.fallingLeaves span:nth-child(3n+7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
}
@-webkit-keyframes fallingLeaves {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes fallingLeaves {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}

.svg-sun{
  width:125px;
  height:125px;
  z-index: 1;
  position: absolute;
  top: 45%;
  right: 31%;

  -webkit-transform-origin: center center;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin:50% 50%;

-webkit-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
-moz-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
-o-animation:spin 25s linear infinite, sun-glow 3s 0s linear infinite;
-ms-animation: spin 25s linear infinite, sun-glow 3s 0s ease-in-out infinite;
animation: spin 25s linear infinite,sun-glow 3s 0s linear infinite;

}

#sun{
  stroke-width:18;
  stroke-dasharray:2;
  stroke-dashoffset:2;
}

@-webkit-keyframes sun-glow {
	0% { fill: #f1c40f; stroke:#f1c40f;}
	50% { fill: #e67e22; stroke:#e67e22;}
	100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-moz-keyframes sun-glow {
	0% { fill: #f1c40f; stroke:#f1c40f;}
	50% { fill: #e67e22; stroke:#e67e22;}
	100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-o-keyframes sun-glow {
	0% { fill: #f1c40f; stroke:#f1c40f;}
	50% { fill: #e67e22; stroke:#e67e22;}
	100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-ms-keyframes sun-glow {
	0% { fill: #f1c40f; stroke:#f1c40f;}
	50% { fill: #e67e22; stroke:#e67e22;}
	100% { fill: #f1c40f; stroke:#f1c40f;}
}
@keyframes sun-glow {
	0% { fill: #f1c40f; stroke:#f1c40f;}
	50% { fill: #e67e22; stroke:#e67e22;}
	100% { fill: #f1c40f; stroke:#f1c40f;}
}


@-webkit-keyframes spin{
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin{
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-o-keyframes spin{
	100% {
		-o-transform: rotate(360deg);
	}
}
@-ms-keyframes spin{
	100% {
		-ms-transform: rotate(360deg);
	}
}
@keyframes spin{
	100% {
		transform: rotate(360deg);
	}
}


p1 {

  font-weight: bold;

}

h1 {
  text-align: center;
  font-family: helvetica;
  width: 100%;
  top: 0;
}
